/**
 * ObservationsAnalysis Page Styles
 */

.observations-analysis {
  &__observation-preview {
    // Observation preview card
  }

  &__form {
    // Analysis/convert form
  }

  &__form-group {
    // Form group spacing
  }
}

