/**
 * CurrentObservations Page Styles
 */

.observation-card {
  background-color: var(--color-primary-900);
  border-color: var(--color-primary-700) !important;
  transition: transform 0.2s ease, background-color 0.2s ease;
  color: var(--color-gray-100);
  
  &:hover {
    transform: translateY(-2px);
    background-color: var(--color-primary-800);
  }
}

