/**
 * TaskConfiguration Page Styles
 */

.rt-stat-card {
  background-color: var(--color-gray-800);
  border-color: var(--color-gray-700) !important;
  color: var(--color-gray-100);
}

.rp-card {
  background-color: var(--color-primary-900) !important;
  border-color: var(--color-primary-700) !important;
  color: var(--color-gray-100);
}

