/**
 * Card Component Styles
 * 
 * Note: Base card styles are in _components.scss
 * This file adds component-specific styles
 */

.card {
  &__body {
    // Card body content
  }

  &__footer {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--color-gray-200);
  }
}

